:root {
    --to-do-item-bg: #F0F0F0;
    --primary-color: green;
    --secondary-color: white;
    --success-color: lightgreen;
    --error-color: pink;
}

/*Common styles*/
.title {
    color: var(--primary-color);
    font-weight: bold;
}

.hidden {
    display: none;
}

button {
    cursor: pointer;
    border-radius: 0.5rem;
    font-weight: bold;
    padding: 0.5rem;
}

button.primary {
    background: var(--primary-color);
    color: var(--secondary-color);
    border: none;
}

button.secondary {
    background: var(--secondary-color);
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

input[type="text"] {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}

input[type="text"]:focus {
    outline: none;
    border: 2px solid var(--primary-color);
}


input[type="checkbox"] {
    cursor: pointer;
}

/*Styles related to form notifications*/
.notification-wrapper {
    padding-top: 1rem;
    min-height: 3rem;
}

.notification {
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
}

.notification.success {
    background: var(--success-color);
}

.notification.error {
    background: var(--error-color);
}

/*styles related to  page*/

.to-do-list-page-container {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

/*Styles related to add-item-form*/
.add-item-form-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.add-item-form-container input[type="text"] {
    flex: 1;
    margin-right: 1rem;
    margin-bottom: 0;
}

/*Styles related to do list items*/
.items-container {
    padding-top: 1rem;
}

.to-do-item {
    background: var(--to-do-item-bg);
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.to-do-item .item-name {
    margin-right: 1rem;
}

.to-do-item .item-status-checkbox {
    margin-right: 1rem;
}

.to-do-item button {
    margin-left: auto;
}

.to-do-item.completed .item-name {
    text-decoration: line-through;
}

